<div id="chart1">
  <select class='form-control' (change)="onChangeObj($event)" [value]='0'>
    <option value='0'>Normal</option>
    <option value='1'>Medium</option>
    <option value='2'>Hard</option>
  </select>

  <select class='form-control' (change)="onChangeObjTimeDropDown($event)" [value]='60'>
    <option value='10'>10 min</option>
    <option value='30'>30 min</option>
    <option value='60'>60 min</option>
  </select>

  <svg width="960" height="560" id="areaLineChartSVG"></svg>

</div>

<div id="chart2">

  <select class='form-control' (change)="onChangeObjNewChart($event)" [value]='0'>
    <option value='0'>Normal</option>
    <option value='1'>Medium</option>
    <option value='2'>Hard</option>
  </select>

  <select class='form-control' (change)="onChangeObjTimeDropDownNewChart($event)" [value]='60'>
    <option value='10'>10 min</option>
    <option value='30'>30 min</option>
    <option value='60'>60 min</option>
  </select>

  <svg width="960" height="560" id="closedBarChartSVG"></svg>
</div>
